<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.DetectionTemplateInfoMapper">

    <!-- 分页获取检测模板信息 -->
    <select id="selectTemplatePage" resultType="java.util.LinkedHashMap">
        select
        dti.id,
        dti.code,
        dti.name,
        dti.check_type,
        dti.content,
        dti.create_date
        from
        detection_template_info dti
        WHERE 1 = 1
        <if test="detectionTemplateInfo.code != null and detectionTemplateInfo.code != ''">
            AND dti.code LIKE CONCAT('%',#{detectionTemplateInfo.code},'%')
        </if>
        <if test="detectionTemplateInfo.name != null and detectionTemplateInfo.name != ''">
            AND dti.name LIKE CONCAT('%',#{detectionTemplateInfo.name},'%')
        </if>
        order by
        dti.create_date desc
    </select>
</mapper>
